<a href="https://colab.research.google.com/github/osoliman/Chapter7_HTM737/blob/main/Python/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

# Variables
In this section, we'll discuss variables

In [1]:
print(Hello World)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4293340409.py, line 1)

In [4]:
a = 'Boston'

In [5]:
print(a)

Boston

In [9]:
print(a[-1])

n

In [10]:
2+3

5

In [11]:
b = 2
c = 3

In [12]:
b+c

5

In [13]:
d = b+c

In [15]:
b=2
c=3
d=b+c
print(d)

5

In [16]:
type(d)

int

In [18]:
type(a)

str

In [19]:
5**2

25

In [ ]:
print(5**2)

# **Data Structures (Containers)**

List

In [20]:
My_List=[1, 2, 3, 5, 'a']

In [21]:
print(My_List)

[1, 2, 3, 5, 'a']

In [22]:
print(My_List[0])

1

In [23]:
My_List[0]=10

In [24]:
print(My_List)

[10, 2, 3, 5, 'a']

Tuples

In [25]:
My_Tuple=(1, 2, 3, 'a')

In [26]:
print(My_Tuple)

(1, 2, 3, 'a')

In [27]:
print(My_Tuple[0])

1

In [28]:
My_Tuple[0]=10

TypeError: 'tuple' object does not support item assignment

Dictionary

In [32]:
My_Dictionary={
    'Name':"Heather",
    'Age':'35',
    'Gender':'Female',
    'City':'Boston'
}

In [33]:
My_Dictionary['Name']

'Heather'

Sets

In [34]:
My_Set={1, 2, 3, 4, 5, 5}

In [35]:
print(My_Set)

{1, 2, 3, 4, 5}

In [36]:
#We cannot access values in set by position
My_Set[0]

TypeError: 'set' object is not subscriptable

# **Functions**

In [38]:
temp = (4 * 9/5) + 32
print(temp)

39.2

In [39]:
temp = (-6 * 9/5) + 32
print(temp)

28.666666666666668

In [42]:
def c_to_f(c_temp):
  f_temp=(c_temp * (9/5)) + 32
  return f_temp

In [44]:
f_temp = c_to_f(4)
print(f_temp)

39.2

Formatted string literals

In [47]:
print(f'The temperature now is {c_to_f(35)}F')

The temperature now is 95.0F

Loops

In [49]:
My_Temp_List_C = [0, 10, 20, 30, 40]

In [50]:
c_to_f(0)
c_to_f(10)

50.0

In [51]:
for c_temp in My_Temp_List_C:
  print(c_to_f(c_temp))

32.0
50.0
68.0
86.0
104.0

In [52]:
def calculate_BMI(weight_kg, height_m):
  BMI=weight_kg/(height_m**2)
  return BMI

In [53]:
calculate_BMI(75,1.7)

25.95155709342561

In [57]:
def calculate_BMI(height_m, weight_kg):
  BMI=weight_kg/(height_m**2)
  return BMI

In [58]:
calculate_BMI(weight_kg=75,height_m=1.7)

25.95155709342561

In [60]:
BMI=25
if BMI<20:
  print('Underweight')
else:
  print('Normal')

Normal

Libraries

Below is how we import libraries
Libraries in Python have built-in function
This demonstrates using one line from np.mean can save you time

In [62]:
import pandas as pd
import numpy as np

In [63]:
sum_c = sum(My_Temp_List_C)
print(c)

3

In [64]:
len_c = len(My_Temp_List_C)
print(len_c)

5

In [66]:
a = np.mean(My_Temp_List_C)
print(a)

20.0